# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Uploaded files
uploads/

# Generated reports
outputs/

# VS Code
.vscode/

# macOS
.DS_Store

# Streamlit cache
.streamlit/

# Environment variables
.env